# Python相关
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
.env

# 项目特定文件
data/*
!data/.gitkeep
!data/devices.json

# 日志文件
logs/*
!logs/.gitkeep
*.log

# IDE和编辑器
.idea/
.vscode/
*.swp
*.swo

# 系统文件
.DS_Store
Thumbs.db

# 包管理文件
pip-log.txt
