{% extends "base.html" %}

{% block title %}编辑设备 - Wake on LAN{% endblock %}
{% block header %}编辑设备{% endblock %}

{% block content %}
<article>
    <header>
        <h2>更新设备信息</h2>
    </header>
    
    <form action="{{ url_for('devices.update_device', device_id=device_id) }}" method="post" data-validate="true">
        <label for="name">名称
            <input type="text" name="name" value="{{ device.name }}" required>
        </label>
        
        <label for="mac">MAC地址
            <input type="text" name="mac" value="{{ device.mac }}" required>
        </label>
        
        <label for="ip">IP地址
            <input type="text" name="ip" value="{{ device.ip }}" required>
        </label>
        
        <div class="grid">
            <button type="submit">更新设备</button>
            <a href="{{ url_for('devices.index') }}" role="button" class="secondary outline">取消</a>
        </div>
    </form>
</article>
{% endblock %}
